        body
    {
        background-color: blanchedalmond;
    }
    a
    {
        text-decoration:none;
        font-size: 30px;
    }
    .one
    {
        background-color: royalblue;
    }
    .one:hover
    {
        border: 2px red;
    }
    .two
    {
        background-color: springgreen;
    }
    .two:visited
    {
        border: 2px dotted brown;
    }
    .three
    {
        border: 1px solid green;
        border-radius:10px;
    }
    .four
    {
        border: 2px hotpink;
    }
    .lists
    {
        list-style:decimal;
        list-style-position: outside;
    }
    .para1
    {
        border: 2px rgb(184, 20, 20);
        max-width:100px;
    }
    .para2
    {
        border: 2px solid blue;
        min-width:100px;
    }

    .navbar
    {
        background-color: black;
        margin: 0%;
        padding: 0%;
        list-style-type: none;
        margin-top: 30px;
        height: 60px;
    }
    .navbar li
    {
        float: left;
    }
    .navbar li a
    {
        display: block;
        color: blue;
        padding: 16px 20px;
    }
    div.static
    {
        position: static;
        border: 5px solid red;
    }
    div.relative
    {
        position: relative;
        border: 4px black;
        left:30px;
    }
    div.absolute
    {
    position: absolute;
    top: 500px;
    right: 700px;
    width: 200px;
    height: 100px;
    border: 3px solid #b91d09;
    }
    div.sticky
    {
        position: sticky;
        top: 0px;
        padding-bottom:10px;
        border: 5px solid#030f03;
    }
    .float
    {
        float: right;
    }
    .float
    {
        float: left;
        margin-left: 100px;
    }