.main{
   width: 90%;
   margin: 0 auto; 
}
.A{
    margin-left: 15%;
    color: blue;
}
.B{
    width: 96%;
    height: 30px;
    border: 2px darkorchid solid;
    margin: 0 auto;
}
.content{
    background-color: #ff723e;
    width: 99%;
    height: 150px;
    border: 2px solid rgb(167, 162, 162);
    margin:0 auto;
    position: static;
    
}
.button1{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10;
}

.imgctr{
    text-align: left;
    margin-left: 20%;
    float: left;
}
.rightContent{
    float: right;
    color: white;
    margin-left: 15px;
    font-weight: 400;
    margin-top: 20px;
}
.iphoneBox{
    background-color:#01BCF1;
    width: 200px;
    height: 113px;
    display: inline-block;
    border: 2px black;
    margin-top: 2%;
    margin-left: 5%;
}
.appleIcon, .windowsIcon, .androidIcon{
   font-size:50px;
   color: white;
   margin-left: 25px;
   margin-top: 30px;
}
.windowsBox{
    background-color:#632274;
    width: 200px;
    height:113px;
    display: inline-block;
    border: 2px black;
    margin-top: 2%;
    margin-left: 5%;
}
.androidBox{
    background-color:#01C700;
    width: 200px;
    height:113px;
    display: inline-block;
    border: 2px black;
    margin-top: 2%;
    margin-left: 5%;
}
.box{
    width: 155px;
    display: inline-block;
    border: 2px solid rgb(233 227 227);
    margin-top: 2%;
    margin-left: 5%;
}
.boxContainer{
    margin:0 auto;
    width:59%;
}

.left{
    margin-left: 10px;
    margin-top: 15%;

}
.clear{
    clear:both;
}
.style{
    margin-top: -70px; ;
    margin-left: 60%;
}
.button{
    margin-left: -50%;
    background-color: blueviolet;
    color: white;
    margin-left: -100%;
}
.bottomleftbox{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    
}
.bottombox{
    width: 220px;
    height: 100px;
}
.footer{
    width: 95%;
    height: 280px;
    margin: 0 auto; 
    background-color: rgba(219, 212, 212, 0.835);
    color: white;
    bottom: 0;
    text-align: center;
}
.bottom{
    width: 150px;
    height: 80px;
    border: black 2px solid;
    margin-right: 10%;
}
.text-align{
    position:relative;
    top:25px;
    left: 25px;
}
.search{
    position: relative;
    width: 20px;
    height: 20px;
    right:25px;
    top: 5px;
}
.i{
    position: relative;
    left: 30%;
}
.shoppingBag{
    color: gray;
    float: right;
    position: relative;
    margin-right: 200px;
    margin-top: -50px; 
}
.rightArrow{
    background-color:blueviolet ;
    color: white;
    padding-bottom: 3px;
    margin-top: -21px;
    margin-left: 18px;
    padding-left: 13px;
}
.angleRight{
    margin-left: 300%;
    margin-top: -10%;
}
.angleLeft{
   margin-right: 10%; 
}
.buttonTwo{
    margin-left: -50%;
    background-color:#01BCF1;
    color: white;
    border-radius: 0px;
    margin-left: -100%; 
}
.rightArrowtwo{
    background-color:#01BCF1 ;
    color: white;
    padding-bottom: 3px;
    margin-top: -21px;
    margin-left: 18px;
    padding-left: 13px;
}
.stArs{
    color: goldenrod;
    font-size: 6px;
    margin-right: 25px;
    float: right;
    margin-top: 50px;
}
.textcenter{
    margin-right: 75%;
}
.textchange{
    margin-right: 20%;
    margin-top: -3%;
}
.commentText{
   margin-left: 30px;
   margin-top:-25px;
}
.readMore{
margin-left: 75px;
margin-top: -20px;
color:#01BCF1;
}
.shopNow{
    border-radius: 12px;
    background-color: black;
    color: white;
}
.iPhone{
    font-size: 22px;
    color: white;
    margin-left: 43px;
    margin-top: -50px;   
}
.windowsPhone{
    font-size: 22px;
    color: white;
    margin-left: 43px;
    margin-top: -50px;
}
.androidPhone{
    font-size: 22px;
    color: white;
    margin-left: 70px;
    margin-top: -42px;
}
.nokiaN8{
position: relative;
left: 75%;
bottom:90%;
color: rgb(155, 124, 47);
}
.cost{
position: relative;
left: 75%;
bottom:80%;
color:#01BCF1;
}
/* .newCost{
position: relative;
left: 70%;
bottom:80%    
} */
.delcostColor{
position: relative;
bottom:80%;
color: black;
}
.colorCode{
    color: black;
}
.footerIcon{
margin: 0 auto;
margin-left: 30%;
font-size: 15px;
}
.bottomBoxright{
width: 460px;
margin-left: 60%;
}
.contentAbout{
    color:black;
}
.aboutContent{
    color: blueviolet;
}